body {
  color: light purple;
  background-color: #ffcce0;
  font-family: 'Abril Fatface',cursive;


h1 {
  font-style: @import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
}
